[Unit]
Description=Desktop Tools
After=network.target

[Service]
WorkingDirectory=__dir__
ExecStart=__dir__/main.py
Restart=always
StandardOutput=append:__out__
StandardError=append:__err__

[Install]
WantedBy=multi-user.target